.linkedin-footer {
  border-top: 2px solid rgba(0,0,0,0.15);
  background-color: #f5f5f5;
}

.footer-links ul li:hover a {
  text-decoration: underline;
}
.footer-legal-items {
  margin: 0px;
}

.footer-links ul {
  list-style-type: none;
  margin-top: 30px;
  text-align: center;
}

.footer-links ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 0.9em;
}

.footer-links ul li:last-child {
  margin-right: 0;
}

.footer-links ul li a {
  color: #283e4a;
  text-decoration: none;
}

.footer-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.logo-name-img {
  height: 80px;
  width: 120px;
}

.footer-legal-copyright {
    font-size: .9em;
    color: #283e4a;
}
