.flexible-column-section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.content {
  background-color: #fff;
  height: 65px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.logo-container {
  height: 58px;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.logo-container .img-container {
  position: relative;
}
.site-title-logo {
  width: 55px;
  height: 60px;
}

.word-mark {
  width: 110px;
  height: 60px;
  margin-left: 0px;
}

.logoBar {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  height: 1.8px;
  background-color: black;
  transition: width 0.3s ease;
  opacity: 0;
}
.logo-container:hover .logoBar {
  width: 100%;
  opacity: 1;
}
