.ProfileContainerBanner{
    width: 100%;
    height: 10vh;
    background-color: rgb(9, 132, 132);
    margin-top: 3px;
}

.leftprofileContaier{
    flex: 1.3;
}

.CenterprofileContaier{
    flex: 1.8;
}
.UnderOnePartOfCenterprofileContainer{
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.RightprofileContaier{
    flex: 2.2;
}

.profileImageForCommunity{
    width: 11%;
    height: 8vh;
}

.LogoName{
    font-size: 40px;
    margin-top: 20px;
    font-weight: 600;
}
.usename{
    font-size: 14px;
    color: #a2a1a1;
}